# Зависимости
node_modules/

# Сборка
dist/
build/
*.tsbuildinfo

# Переменные окружения
.env
.env.*
!.env.example

# Логи
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Тесты и покрытие
coverage/
.nyc_output/

# Кэш
.cache/
.eslintcache
.temp/
.tmp/

# IDE
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
*.sublime-workspace

# ОС
.DS_Store
Thumbs.db

# Прочее
*.pid
*.seed
*.pid.lock
/uploads/
# Сгенерированный Prisma Client
src/generated/
